@import "../scss/custom/fonts";
@import "../scss/custom/variables";
@import "../scss/custom/helpers";

//****************************** HEADER ******************************//

.header {
  color: $light;
  font-weight: 700;
  letter-spacing: -0.04em;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-social-link {
    display: flex;
    column-gap: 20px;
    margin-right: 25px;
  }

  .top-bar {
    background-color: rgba($dark, 0.5);
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown .dropdown-toggle {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.04em;
    color: $light;
  }

  .dropdown .dropdown-toggle.show {
    border-bottom: 1px solid $light;
  }

  .dropdown-item {
    color: $dark;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -0.04em;
    background-color: $light-mute;
  }

  .dropdown-menu li:not(:last-child) .dropdown-item {
    border-bottom: 1px solid $dark;
  }

  .dropdown-icon::before {
    position: absolute;
    top: 0;
    left: -1.6875rem;
    display: inline-block;
    content: url("./img/icons/Ellipse 4.svg");
    vertical-align: -0.1rem;
  }

  .navbar {
    transition: opacity 0.5s ease;
    max-width: 100%;
    width: 100%;

    .navbar-nav {
      display: flex;
      flex-direction: row;
      width: 100%;

      .dropdown {
        padding-right: 1.6875rem;
        margin-right: 1.6875rem;
        .dropdown-menu {
          position: absolute !important;
        }
      }
    }
  }
}

//****************************** END HEADER ******************************//

@media (max-width: 1300px) {
  .header-social-link {
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .header {
    .navbar {
      .navbar-nav {
        max-width: max-content;
        flex-direction: column;

        .dropdown {
          padding-left: 1.6875rem;
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header .header-container {
    align-items: start;
  }

  .header-links {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 8px;
  }

  .header-logo {
    width: 99px;
    height: 29px;
  }

  .header-social-link {
    margin-right: 0;
  }
  .social-link-tel {
    rotate: -90deg;
  }

  .header {
    .navbar {
      .navbar-nav {
        max-width: dropdown-menu;

        .dropdown {
          .dropdown-menu {
            margin-top: 0.75rem;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header-social-link {
    margin-right: 0;
    column-gap: 15px;
  }
}

//****************************** END MEDIA HEADER ******************************//